.container{
	width:100%;
	border:1px solid #cccccc;
	margin-left:auto;   /*좌우 여백을 동일하게 하여 중앙 정렬*/
	margin-right:auto;
}

.header{
	padding:5px;
	height:70px;
	border-bottom:1px solid #cccccc;
	text-align: center;
}

.left{
	float:left;
	padding:5px;
	height:500px;
	width:20%;
}

.main{
	padding:10px;
	height:500px;
	border-left:1px solid #cccccc;
	float:left;
}

.footer{
	height:70px;
	border-top:1px solid #cccccc;
	padding:5px;
	clear:both;   /* float 속성 요소 아래 배치하기 위해 float 속성을 초기화시킨다.*/
	text-align: center;
}

.header, .footer{
	text-align: center;
}

table{
	border-collapse:collapse;
}

table, th, td{
	border:1px solid #cccccc;
}

th, td{
	padding:10px;
}

.listTable{
	margin:100px 420px auto;
}

.loginTable{
	margin:auto;
	text-align:center;
}